/* MONSTER.CSS Feb 2020 by grove monster <3 */

/* Global Styles */

*, *::after, *::before { box-sizing: inherit; }

html {
  box-sizing: border-box;
  margin-top: 1em;
}

body {
  background: #1d1f20; 
  /* background: #e9ebee; */
  font-family: sans-serif;
  color: #ffffff;
}

/* Generic Styles*/

span {
  color: #44e0d2;
  text-decoration: none;
  font-size: 0.7em;
}

ul { margin: 0; }

li { list-style: none; }

li span { float: right; padding-left:0.5em;}
.mon { color: #000; }

/* Main Wrapper */

.site-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.nav-wrap { margin: 3vh 1em; }

/* Center Fold */

.main {
  min-height: calc(50vh - 65px);
}

.main.home {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 23vh;
}

.text-wrap {
  width: 100%;
  text-align: center;
}

.text-wrap svg {
  width: 79%;
  min-width: 3em;
}

@media (max-width: 40em) { 
  #ash { height: 167px !important; } 
  
  .secret11 { width: 100% !important; font: bold 2.11em sans-serif !important;}
}

.secret42 { font: bold 5em sans-serif; }

.secret11 { font: bold 2em sans-serif; }

.img-layer { fill: url('#p-img'); }

/* modified */
/* code by Marcel Shields   */
/* https://css-tricks.com/replace-the-image-in-an-img-with-css/ */
#ash {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 374px;
  height: 600px;
  padding-left: 374px;
  opacity: 1;
  transition: all 0.4s ease;
}

.hide { background: url(/thething/ash.png) no-repeat; }

.show { background: url(/thething/monsterjam.png) no-repeat; }

.hide2 { background: url(/thething/monstersinc.png) no-repeat; }

.show2 { background: url(/thething/jackiechanadventures.png) no-repeat; }

.show3 { background: url(/thething/staticshock.png) no-repeat; }


/* Foooter */

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  margin-top: 10vh;
}

footer a { color: #44abe0; }
